<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="cac.css">
		<link rel="stylesheet" type="text/css" href="cac-application.css">
	</head>
	<body>
		<div id="wrap">
			<h1 id="cac-title">Perguruan Tinggi</h1>
			<p id="cac-sort-text">Sort by :</p>
			<select id="cac-select">
				<option value="jmlTim">Jumlah Tim</option>
			 	<option value="jmlApps">Jumlah Apps</option>
			 	<option value="jmlDownload">Jumlah Download</option>
				<option value="PT">Perguruan Tinggi</option>
			</select>
			<table>
				<tr>
					<th class="cac-head">No</th>
					<th class="cac-head">Nama PT</th>
					<th class="cac-head">Jumlah Tim</th>
					<th class="cac-head">Jumlah App</th>
					<th class="cac-head">Jumlah Download</th>
				</tr>
				<tr>
					<td class="cac-cell">1.</td>
					<td class="cac-cell">Universitas Indonesia</td>
					<td class="cac-cell">50</td>
					<td class="cac-cell">150</td>
					<td class="cac-cell">1.928.374</td>
				</tr>
				<tr>
					<td class="cac-cell"></td>
					<td class="cac-cell"></td>
					<td class="cac-cell"></td>
					<td class="cac-cell"></td>
					<td class="cac-cell"></td>
				</tr>
				<tr>
					<td class="cac-cell"></td>
					<td class="cac-cell"></td>
					<td class="cac-cell"></td>
					<td class="cac-cell"></td>
					<td class="cac-cell"></td>
				</tr>
				<tr>
					<td class="cac-cell"></td>
					<td class="cac-cell"></td>
					<td class="cac-cell"></td>
					<td class="cac-cell"></td>
					<td class="cac-cell"></td>
				</tr>
			</table>
		</div>
	</body>
</html>