<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="cac.css">
		<link rel="stylesheet" type="text/css" href="cac-application.css">
	</head>
	<body>
		<div id="wrap">
			<h1 id="cac-title">Aplikasi Terbit</h1>
			<p id="cac-sort-text">Sort by :</p>
			<select id="cac-select">
				<option value="latest">Latest</option>
			 	<option value="nama">Nama</option>
			 	<option value="jmlDownload">Jumlah Download</option>
				<option value="PT">Perguruan Tinggi</option>
				<option value="Platform">Platform</option>
			</select>
			<table>
				<tr>
					<th class="cac-head">No</th>
					<th class="cac-head">Nama App</th>
					<th class="cac-head">Nama Tim</th>
					<th class="cac-head">Nama PT</th>
					<th class="cac-head">Tgl Publish</th>
					<th class="cac-head">Platform</th>
					<th class="cac-head">Jml Download</th>
					<th class="cac-head">Download</th>
				</tr>
				<tr>
					<td class="cac-cell">1.</td>
					<td class="cac-cell">WashWash</td>
					<td class="cac-cell">Lantai5</td>
					<td class="cac-cell">Universitas Indonesia</td>
					<td class="cac-cell">12-07-2013</td>
					<td class="cac-cell">Symbian s60</td>
					<td class="cac-cell">100000</td>
					<td class="cac-cell"><a href="">Download</a></td>
				</tr>
				<tr>
					<td class="cac-cell"></td>
					<td class="cac-cell"></td>
					<td class="cac-cell"></td>
					<td class="cac-cell"></td>
					<td class="cac-cell"></td>
					<td class="cac-cell"></td>
					<td class="cac-cell"></td>
					<td class="cac-cell"></td>
				</tr>
				<tr>
					<td class="cac-cell"></td>
					<td class="cac-cell"></td>
					<td class="cac-cell"></td>
					<td class="cac-cell"></td>
					<td class="cac-cell"></td>
					<td class="cac-cell"></td>
					<td class="cac-cell"></td>
					<td class="cac-cell"></td>
				</tr>
				<tr>
					<td class="cac-cell"></td>
					<td class="cac-cell"></td>
					<td class="cac-cell"></td>
					<td class="cac-cell"></td>
					<td class="cac-cell"></td>
					<td class="cac-cell"></td>
					<td class="cac-cell"></td>
					<td class="cac-cell"></td>
				</tr>
			</table>
		</div>
	</body>
</html>