h2 {
	font-size : 30px;
}
.competition-wrapper {
	width: inherit;
	background: white;
	margin: 0;
	padding: 10px 100px;
}

b {
   font-weight : bold;
}

#competition-header {
	background: url('../img/competition/header-bg.png');
	width: 100%;
	height: 300px;
	padding-top:50px;
	background-position : center center;
}

#competition-middle-header {
	background: rgba(0, 0, 0, 0.8);
	border: solid 1px;
	text-align: center;
	width: 570px;
	height: 260px;
	margin: 0 auto;
	color: white;
	font-size: 25px;
	display: none;
}

.competition-thumbnail-wrapper{
	display: block;
	width : inherit;
	padding: 10px 15px;
	overflow: hidden;
	margin: 0 auto;
	background : white;
}

.competition-thumbnail{
	width: 285px;
	height: 150px;
	float: left;
	cursor : pointer;
}

.competition-thumbnail img {
	filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+, Firefox on Android */
   	filter: gray; /* IE6-9 */
    	-webkit-filter: grayscale(100%);
	-webkit-transition : all 0.3s ease-in-out;
	   -moz-transition : all 0.3s ease-in-out;
	        transition : all 0.3s ease-in-out;
}
.competition-thumbnail img:hover{
	filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'1 0 0 0 0, 0 1 0 0 0, 0 0 1 0 0, 0 0 0 1 0\'/></filter></svg>#grayscale");
   	-webkit-filter: grayscale(0%);
	margin-top : -5px;
}

.competition-thumbnail img{
	display: block;
	width: 250px;
	height : 150px;
	margin: 0 auto;
}

.competition-desc {
	width: auto;
	height: 400px;
}

.competition-content{
	width: auto;
	overflow: auto;
	display: inline-block;
	border-top: solid 1px #dddddd;
	padding-bottom: 20px;
	padding-top: 20px;
	color: #434343;
}
.competition-content-desc img {
	margin: 10px;
}
.competition-content img {
	margin: 15px;
}
.competition-content span{
	width: auto;
	padding-top: 8px;
	font-style: italic;
	font-size: 16px;
	display: block;
	height:	32px;
}
.competition-wrapper h1 {
	font-size: 40px;
	margin: 5px 0 10px 0;
	padding-top:5px;
}

.competition-wrapper p {
	margin-bottom: 10px;
	text-indent: 3em;
	text-align: justify;
	font-size: 14px;
	line-height: 25px;
}

.competition-another-content {
	width: inherit;
	padding-top: 5px;
	font-size: 14px;
	line-height: 25px;
	text-align : justify;
}

.competition-another-content li{
	width: inherit;
	padding-top: 5px;
	font-size: 14px;
}

.competition-another-content ol{
	width: inherit;
	padding-top: 5px;
	font-size: 14px;
}

.competition-another-content p{
	width: inherit;
	padding-top: 5px;
	font-size: 14px;
}

.content-head {
	margin-top : 10px;
	font-weight: bold;
	font-size: 18px;
}

.competition-register-button{
	height: 35px;
	width: 180px;
	float: left;
	border-radius: 4px;
	margin-left: 400px;
	background-color: #007ac3;
	color: #f2f2f2!important;
	cursor: pointer;
	-moz-transition: 0.5s;
	-webkit-transition: 0.5s;
	-o-transition: 0.5s;	
}

.competition-register-button:hover{
	background-color: #00617F;
}

.competition-rulebook-button{
	height: 30px;
	float: left;
	border-radius: 4px;
	margin-right:5px;
	background-color: #007ac3;
	color: #f2f2f2!important;
	vertical-align:middle;
	cursor: pointer;
	-moz-transition: 0.5s;
	-webkit-transition: 0.5s;
	-o-transition: 0.5s;	
}

.competition-rulebook-button:hover{
	background-color: #00617F;
}

.competition-closed-button{
	height: 35px;
	width: 180px;
	float: left;
	border-radius: 4px;
	margin-left: 400px;
	background-color: #4d4d4d;
	color: #f2f2f2!important;
	cursor: pointer;
	-moz-transition: 0.5s;
	-webkit-transition: 0.5s;
	-o-transition: 0.5s;	
}

#competition-tulisan-button{
	font-size: 14px;
	margin: 7px;
	line-height:14px;
	text-align: center !important;
	color: white;
	text-indent:0em !important;
}

#competition-register-tulisan{
	font-size: 16px;
	margin: 7px;
	line-height:14px;
	text-align: center !important;
	padding-top:4px;
	color: white;
	text-indent:0em !important;
}