h2 {
	font-size : 30px;
}
.competition-wrapper {
	width: inherit;
	background: white;
	margin: 0;
	padding: 10px 100px;
}

#competition-header {
	background: url('../img/competition/header-bg.png');
	width: 100%;
	height: 300px;
	padding-top:50px;
}

#competition-middle-header {
	background: rgba(0, 0, 0, 0.8);
	border: solid 1px;
	text-align: center;
	width: 570px;
	height: 260px;
	margin: 0 auto;
	color: white;
	font-size: 25px;
	display: none;
}

.competition-desc {
	width: auto;
	height: 400px;
}

.competition-content{
	width: auto;
	overflow: auto;
	display: inline-block;
	border-top: solid 1px;
}
.competition-content-desc img {
	margin: 10px;
}
.competition-content img {
	margin: 15px;
}
.competition-content span{
	width: auto;
	padding-top: 8px;
	font-style: italic;
	font-size: 16px;
	display: block;
	height:	32px;
}
.competition-wrapper h1 {
	font-size: 40px;
	margin: 5px 0 10px 0;
	padding-top:5px;
}

.competition-wrapper p {
	margin-bottom: 10px;
	text-indent: 3em;
	text-align: justify;
}

.competition-another-content {
	width: inherit;
	padding-top: 5px;
}

.competition-register-button{
	height: 30px;
	width: 120px;
	float: left;
	border: 1px solid #d8d8d8;
	border-radius: 4px;
	margin-right:5px;
	background-color: #ed1c24;
	color: #f2f2f2;
	cursor: pointer;
	-moz-transition: 0.5s;
	-webkit-transition: 0.5s;
	-o-transition: 0.5s;	
}

.competition-register-button:hover{
	background-color: #d31a28;
}
.competition-closed-button{
	height: 30px;
	width: 120px;
	float: left;
	border: 1px solid #d8d8d8;
	border-radius: 4px;
	margin-right:5px;
	background-color: #4d4d4d;
	color: #f2f2f2;
	cursor: pointer;
	-moz-transition: 0.5s;
	-webkit-transition: 0.5s;
	-o-transition: 0.5s;	
}

.competition-tulisan-button{
	font-size: 14px;
	margin: 7px;
	text-align: center !important;
	color: white;
	text-indent:0em !important ;
}
