/**
	Style for the dashboard
*/
body {
	overflow-x : hidden;
}

h1,h2,h3 {
	text-align: center;
	font-family: Arial, Helvetica sans-serif;
}

h1 {
	font-size : 30px;
}

.wrapper-dash {
	padding : 0px 5%;
}
.well {
	height : 300px;
}

.alert {
	text-align:center;
	width:450px!important;
	margin-left: 20px;
	height : 140px;
}

.control-group {
	text-align: center;
}

.btn-danger {
	text-align: center!important;
}

.span12 {
	padding-left: 21%;
}