/**
	Style for the dashboard
*/
body {
	overflow-x : hidden;
}

#content {
	overflow : hidden!important;
		border : 0!important;
	background : transparent!important;

}

h1,h2,h3 {
	text-align: center;
	font-family: Arial, Helvetica sans-serif;
}

h1 {
	font-size : 30px;
}

h1,h2 {
	font-weight: bold;
}

h2 {
	font-size: 30px!important;
}

.wrapper-dash {
	padding : 0px 5%;
}
.well {
	height : 320px;
}

.alert {
	text-align:center;
	width:450px!important;
	margin-left: 20px;
	height : 140px;
}

.edit {
	text-align : center;
	margin: auto;
}

.success {
	padding: 8px 35px 8px 14px;
	margin-bottom: 20px;
	text-shadow: 0 1px 0 rgba(255,255,255,0.4);
	background-color: #8AE26C;
	border: 1px solid #41A821;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	text-align: center;
	width: 450px!important;
	margin-left: 20px;
	height: 140px;
}

.success p {
	color : #41A821;
	margin-top: 50px;
}

.control-group {
	text-align: center;
}

.btn-danger {
	text-align: center!important;
}

.tekan {
	padding : 6px!important;
	font-size: 13px!important;
	text-shadow : none;
}

.control-label {
	font-size : 14px!important;
}

.well {
	padding-bottom: 20px!important;
}


.confirm {
	font-size: 12px!important;
	padding : 5px!important;
	border-radius: 5px;
}