h2 {
	font-size: 30px;
}
h3{
	font-size: 26px;
}
#entertain-wrapper{
	display: block;
	margin-left : 30px;
	margin-bottom: 30px;
}
.entertain-content{
	margin-bottom:30px;
}
.title-content {
	margin-left: 10px;
}
#guest-star {
	margin-top: 20px;
}
	#guest-star img {
		margin : 10px 0 10px 10px;
	}
td img{
	display: block;
	margin: 10px;
}
