.content p{
	font-size:14px;
}
#middle{
	clear: both;
	margin:0 0 0 0;
	background :white;
	overflow: hidden;
}

#content {
	border : 0!important;
}

#slider{
	height: 475px;
	width:100%;
}

	#slider > .carousel-inner > div > img{
		width:100%;
	}
	
	.item {
		height : 400px!important;
	}
#video-banner{
	display : block;
	width: 580px;
	float: left;
}
#box{
	display:block;
	width: 530px;
	height:325px;
	margin-bottom: 20px;
	margin: 0 auto;
}
#banner{
	display:block;
	margin-top: 20px;

}
	#banner img{
		display:block;
		margin: 0 auto;
	}
#headline{
	display: block;
	max-height: 545px;
	overflow: hidden;
}

#headline-imgBox{
	width: 270px;
	height:180px;
	margin: 5px 15px 5px 0;
	background-color: #f0f0f0;
	float: left;
}

#headline-article{
	font-size: 10pt;
	line-height: 14pt;
	text-align: justify;
	margin: 0 60px 10px 0;
}

#readmore {
	float: right;
	margin-right:60px;
}
.content img{
	margin:0 10px 10px 0px;
	float: left
}
.leftcol{
	display: block;
	float: left;
	margin: 20px 10px 0px 25px;
	width: 545px;
	height: 320px;
	overflow: hidden ;
}

	.leftcol ul {
		width: 10000px;
		list-style: none;
	}
	.leftcol li {
		float: left;
	}
	

.rightcol{
	display: block;
	width: 545px;
	float: right;
	margin: 20px 25px 0px 10px;
	height: 320px;
}	
.speaker-img{
	width:150px;
	height:150px;
}
#sharebox{
	width: 100%;
	height: 48px;
	margin-top: 40px;
}

#twitterbox{
	float: left;
	width: 1022px;
	height: inherit;
	background-color: #29abe2;
}

	#twitter-logo{
		width:70px;
		background-image: url('../img/twitter-bg.png');
		height: inherit;
		float: left;
	}

	#twitter-tweet{
		margin: 7px 7px 7px 0;
		width: 945px;
		float: left;
		height: 34px;
		background-color: white;
		overflow: hidden;
	}
	
	#twitter-tweet span {
		display: block;
		position: relative;
	}

		#tweet{
			float: left;
			color: black;
			margin-top: 9px;
			margin-left: 5px;
		}

		#tweet-time{
			float: left;
			margin-top: 11px;
			margin-left: 5px;
			font-size: 0.9em;
			color: #a3a3a3;
		}		

#likebox{
	float: right;
	width: 158px;
	height: inherit;
	background-image: url('../img/fb-like.png'); 
	cursor : pointer;
	opacity : 0.8;
	-webkit-transition : all 0.3s ease-in-out;
	   -moz-transition : all 0.3s ease-in-out;
	        transition : all 0.3s ease-in-out;
}

#likebox:hover {
	opacity : 1;
}	
.register-button{
	position: absolute;
	top:5px;
	right:0;
	height: 40px;
	width: 160px;
	float: left;
	border-radius: 4px;
	background-color: #e30613;
	color: #f2f2f2 !important;
	cursor: pointer;
	-moz-transition: 0.5s;
	-webkit-transition: 0.5s;
	-o-transition: 0.5s;	
}

.register-button:hover{
	background-color: #91040c;
}

#tulisan-button{
	font-size: 16px;
	margin: 10px;
	line-height:14px;
	text-align: center !important;
	color: white;
	text-indent:0em !important;
}

#register-tulisan{
	font-size: 18px;
	margin: 10px;
	line-height:14px;
	font-family: myriad pro;
	font-weight:bold;
	text-align: center !important;
	padding-top:3px;
	color: white;
	text-indent:0em !important;
}
.content {
	position: relative;
	
}
.content-title{
	-moz-transition: 0.5s;
	-webkit-transition: 0.5s;
	-o-transition: 0.5s;	
	margin: 0 !important;	
}
	
.content-title:hover{
	opacity:0.5;
}
.navi {
	height: 25px;
	position: absolute;
	bottom: 0;
	right: 0;
}
	.nav-left{
		float: left;
		display: block;
		-moz-transition: 0.3s;
		-webkit-transition: 0.3s;
		-o-transition: 0.3s;
	}
	.nav-left:hover{
		opacity: 0.5;
	}
	.nav-right{
		float: right;
		display: block;
		-moz-transition: 0.3s;
		-webkit-transition: 0.3s;
		-o-transition: 0.3s;
	}
	
	.nav-right:hover{
		opacity: 0.5;
	}
	
	.navi img{
		height: 25px;
		margin: 0 !important;
	}


#seminars .details p{
	font-size: 13px !important;
}
.content-text{
	width: 545px;
	display:block;
}
	.content-text p{
		line-height: 15px; 
	}
	.content-text .title {
		font-size: 16px;
		line-height: 18px;
		text-align: center;
		width: 385px;
		margin-bottom: 5px;
	}
	.content-text .desc{
		font-size:12px;
		text-align: justify;
	}
.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

iframe {
	margin-bottom: 50px;
	border: 2px solid #AAA;
	
}
iframe#countdown{
	width:1180px;
	height:480px;
}
#readmore{
	border-radius: 5px;
	background: #e30613;
	padding: 10px 20px;
	text-align: center;
	vertical-align: middle;
	-moz-transition: 0.3s;
	-webkit-transition: 0.3s;
	-o-transition: 0.3s;
}
#readmore:hover{
	background: #91040c;
}
	#readmore p{
		color: white;
	}
#competition-nav{
	margin-bottom: 5px;
}

#competition-nav:hover{
	opacity:0.5;	
}

	#competition-nav a{
		font-size:14px;
		color: black;
	}
	
	#competition-nav .current{
		background: #007ac3;
		padding : 3px 5px;
		border-radius:5px;
		color: white;
		
	}
.competition-header {
	margin-top: 20px;
}

.competition-main-slider {
	width: 480px;
	height: 250px;
	overflow: scroll;
	float: left;
	margin: 0px 0px;
}

.competition-main-slider-button{
	position: relative;
	top: 45px;
	width: 25px;
	height: 74px;
	float: left;
	-moz-transition: 0.3s;
	-webkit-transition: 0.3s;
	-o-transition: 0.3s;
}
.competition-main-slider-button:hover{
	opacity:0.5;
}

.competition-main-slider ul {
	width: 10000px;
	list-style: none;
	margin-left: 0px;
}

.competition-main-slider li{
	float: left;
	margin: 0 5px;
}

.competition-box-slider {
	display: block;
	width: 150px;
	height: 200px;
	margin: px;
	color: black;
	text-align: center;
	
}

.competition-box-slider:hover {
	text-decoration: none;
	color: black;
	
}

.competition-box-slider img {
	width: 150px;
	height: 150px;
}

.competition-box-caption {
	font-weight: bold;
	margin-bottom: 0px;
	margin-top: 10px;
}

.competition-box-caption2 {
	text-align: center;
}


	#competitions-final ul {
		list-style: none;
		overflow: hidden ;
		margin-top:0px;
}
	#competitions-final li {
		height: 230px;
		float: left;
	}
	
#slider-mover-comp-wrapper{
	height: 230px;
	overflow: hidden;
}
.competition-slider-wrapper{
	width: 545px;
	display: block;
}
	
.entertainment-main-slider {
	width: 480px;
	height: 250px;
	overflow: scroll;
	float: left;
	margin: 0px 0px;
}

.entertainment-main-slider-button{
	position: relative;
	top: 45px;
	width: 25px;
	height: 74px;
	float: left;
}

.entertainment-main-slider ul {
	width: 10000px;
	list-style: none;
	margin-left: 0px;
}

.entertainment-main-slider li{
	float: left;
	margin: 0 5px;
}

.entertainment-box-slider {
	display: block;
	width: 150px;
	height: 200px;
	margin: px;
	color: black;
	text-align: center;
}

.entertainment-box-slider:hover {
	text-decoration: none;
	color: black;
}

.entertainment-box-slider img {
	width: 150px;
	height: 150px;
}

.entertainment-box-caption {
	font-weight: bold;
	margin-bottom: 0px;
	margin-top: 10px;
}

.entertainment-box-caption2 {
	text-align: center;
}

#playground .category{
	width: 385px;
	text-align: center;
}