h1 {
	font-size: 16px;
	font-weight: bolder;
}

h3 {
	font-weight: bolder!important;
}

.space {
	height : 50px;
}
.login-container {
	position: relative;
	padding : 10px;
	padding-bottom: 20px;
	background: #f9f9f9;
	border : 1px solid #dddddd;
	border-radius: 5px;
	width: 300px;
	margin: auto;
	text-align: center;	
}

form {
	width: 100%;
}

.btn {
	border : none;
	font-size: 14px !important;
	background : #FF2323;
	color : #f7f7f7;
	padding : 5px !important;
	padding-left: 10px !important;
	padding-right: 10px !important;
	border-radius: 5px;
	-webkit-transition : all 0.5s ease-in-out;
	   -moz-transition : all 0.5s ease-in-out;
	       -transition : all 0.5s ease-in-out;
}

.wow{
	border-radius: 5px;
	width : 200px;
	box-shadow: 0;
	height : 25px;
	border : 1px solid #ddd;
		-webkit-transition : all 0.5s ease-in-out;
	   -moz-transition : all 0.5s ease-in-out;
	       -transition : all 0.5s ease-in-out;
}

.wow:focus {
	outline: 0;
	border: 1px solid #35B34C;
	box-shadow: 0px 0px 3px #35B34C;
}

.btn:hover {
	background: red;
}
