#container{
	margin-left: 0;
	width: 820px;
	float: left;
}

.news-top {
	padding: 30px;
	background: #f9f9f9;
	border : 1px solid #dddddd;
	border-radius: 5px;
}

.news-main{
	margin-top: 30px;
	margin-bottom: 10px;
	line-height: 24px;
}

.news-title{
	font-size:1.4em;
	margin-bottom: 10px;
}

.news-title a{
	color: #4e4e4e;
}

.news-date{
	margin-bottom: 10px;
	font-size:0.8em;
	color: #5a5a5a;
}

#recent{
	width: 260px;
	background: #cecece;
	margin-left: 870px;
	margin-top: 30px;
	position: absolute;
	padding: 20px;
	border-radius: 7px;
}

.news-content {
	font-size: 12px;
}
.news-page-header{
	color: rgb(190, 31, 69);
	margin-bottom: 10px;
	font-size:1.6em;
}

.recent-header{
	color: rgb(190, 31, 69);
	font-size:1.2em;
	padding-bottom: 15px; 
	border-bottom: solid 5px gray;
}

.news-list{
	color: gray;
	margin-top: 20px;
	padding-bottom: 10px;
	border-bottom: 1px solid rgb(227, 227, 227)
}

.news-list a{
	color: gray;
}


#footer{
	clear: both;
}