h2 {
	font-size: 30px;
}
h3{
	font-size: 26px;
}
.team-img.raisa{
	margin: 0 auto !important;
	border-radius: 500px;
	border: 20px solid #E30814;
}

#entertain-wrapper{
	display: block;
	margin-bottom: 30px;
}
.entertain-content{
	margin-bottom:30px;
}
.title-content {
	color: white;
	background: url('../img/entertainment/title-background.png') no-repeat;
	margin:0 auto;
	font-family: myriad pro;
	font-weight: bold;
	font-size: 32px;
	text-align: center;
	height: 75px;
	width: 400px;
	display:block;
	padding-top: 4px;
	
}
#guest-star {
	margin-top: 20px;
}
	#guest-img-wrapper{
		width:825px;
		height: 550px;
		display: block;
		margin-left:180px;	
	}
	#guest-star img {
		float: left;
		margin : 10px 0 10px 10px;
	}
	#guest-star-name{
		padding-left: 20px;
		display:table;
	}
	#ticketing{
		margin-left: 30px;;
		padding-left: 20px;
		display: table;
		width:250px;
		height: 360px;
	}
	#ticketing p{
		font-family: myriad pro;
		font-weight: bold;
		text-align: center;
		font-size: 25px;
		margin:5px 0 5px 0; 
		color: #E30814;
	}
	#ticket-req {
		background:url('../img/entertainment/ticket.png') no-repeat;
		width:250px;
		height: 300px;
	}
		#ticket-req p{
			font-size: 20px;
			padding-top: 110px;
		}
.band-wrapper{
	display: block;
	margin: 10px;
}
	.band-wrapper p{
		text-align: center;
		margin-top: 10px;
		font-weight: bold;
	}
	.band-wrapper .deskripsi {
		font-size: 12px;
	}
#slider{
	height: 475px;
	width:100%;
}

	#slider > .carousel-inner > div > img{
		width:100%;
	}
	
	.item {
		height : 400px!important;
	}
#countdown{
	width:1180px;
	height:500px;
}
#content{
	overflow: hidden !important;
}
#band-table{
	margin: 0 auto;
}
#location-frame{
	display:block;
	margin:0 auto;
	border: 2px solid #AAA	;
	border-radius:5px;
}
#playground-subscribe{
	background-color: #E40613;
	border-radius: 5px;
}
#playground-share{
		padding: 0 0 30px 40px;
		text-align : center;
	}	

	.playground-share{
		display: inline;
	}
#playground-Tdetail{
	color: white;
	text-align: center;
	padding-top: 20px;
	font-size: 24px;
	margin:30px;
}
.twitter-share-button{
	border: none;
	margin:0;
}
.venue-desc{
	text-align: center;
	font-family: myriad pro;
	font-weight: bold;
	margin :10px;
}
#band-table img{
	border: 2px solid #aaa;
	border-radius: 10px;
}