	.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

p, h1, h2 {
	font-family: 'Open Sans', Tahoma, Arial, sans-serif;
}

iframe {
	margin-bottom: 20px;
	border: 2px solid #AAA;
}

h1 {
  margin: 0.67em 0;
  font-size: 2em;
}

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
  

#content {
	overflow-x: hidden;
}

.playground-header {
	margin-top: 20px;
}

.playground-top  {
	width: 870px;
	min-height:200px;
	margin: 60px auto 60px;
}

.playground-top p { 
	margin-top: 60px;
	padding-right: 57px;
	font-size: 24px;
	line-height: 37px;
}

.playground-main-slider {
	width: 900px;
	height: 220px;
	overflow: scroll;
	float: left;
	margin: 0px 10px;
}
.playground-how-to-play{
	background: rgb(62, 56, 51);
	height: 370px;
	color: white;
	margin-top: 20px;
}

.playground-how-to-mid  {
	width: 1000px;
	height: 100%;
	margin: 0 auto;
	padding-top: 15px;
}

.playground-main-slider-wrap{

}
.playground-main-slider-button{
	position: relative;
	top: 35px;
	width: 25px;
	height: 74px;
	float: left;
}

.playground-main-slider ul {
	width: 10000px;
	list-style: none;
	margin-left: 0px;
}

.playground-main-slider li{
	float: left;
	margin-bottom: 20px;
}

.playground-box-slider {
	display: block;
	width: 180px;
	height: 200px;
	margin: 20px;
	color: black;
	text-align: center;
}

.playground-box-slider:hover {
	text-decoration: none;
	color: black;
}

.playground-box-slider img {
	width: 150px;
	height: 150px;
}

.playground-box-caption {
	font-weight: bold;
	margin-bottom: 0px;
	margin-top: 10px;
}

.playground-box-caption2 {
	text-align: center;
}

.playground-main-desc {
	width: 100%;
	height: 250px;
	overflow: hidden;
}

.playground-main-desc-text{
	width: 70%;
	height: 100%;
	float: left;
	position:relative;
	margin-left: 100px;
}

.playground-main-desc-img {
	float: left;
	margin-right: 40px;
	overflow: hidden;
}

.playground-main-desc-img img {
	position: relative;
	top: -50px;
}

.playground-main-desc-text p {
	margin: 0px;
}

.playground-main-desc-text h1 {
	margin-top: 5px;
	margin-bottom: 9px;
}

.playground-main-desc-text h2 {
	margin-top: 0px;
	font-size: 18px;
}

.playground-side-desc-text {
	margin-left: 35px;
	width: 25%;
	height: 100%;
	float: left;
	display: none;
}

.playground-side-desc-text h1 {
	margin: 5px;
}

.playground-side-desc-text ul {
	margin-bottom: 10px;
	margin-left: 20px;
	list-style-type:circle;
}

.playground-main-desc-floater {
	height: 350px;
}

.playground-desc-mover {
	margin-top: 0px;
}

.playground-balairungPic {
	border: 2px solid rgb(170, 170, 170);
	width: 499px;
	height: 303px;
	float: left;
	margin: 0 10px 0 0;
	background: url('../img/playground/ui/balairung.png');
}

.playground-map {
	width: 400px;
	height: 303px;
	float: left;
}

.playground-lokasi{
	background: rgb(62, 56, 51);
	padding-left: 130px;
	height: 470px;
	color: white;
}

.playground-lokasi h2{
	font-size: 20px;
	font-weight: bold;
}

#playground-subscribe{
	background-color: #E40613;
	border-radius: 5px;
}
#playground-share{
		padding: 0 0 30px 40px;
		text-align : center;
	}	

	.playground-share{
		display: inline;
	}
#playground-Tdetail{
	color: white;
	text-align: center;
	padding-top: 20px;
	font-size: 24px;
	margin:30px;
}
.twitter-share-button{
	border: none;
	margin:0;
}
.twitter-share-button-desc{
	border: none;
	margin:0;
	position: absolute;
	top: 7px;
	right: 0;
}

	#playground-share{
		padding: 0 0 30px 40px;
		text-align : center;
	}

	.playground-share{
		display: inline;
	}
