.form-horizontal {
    display: block;
    font-family: Tahoma, sans-serif;
    margin: 20px auto;
    text-align: center;
}

.control-group input[type="radio"] {
    text-align: none!important;
}

.star {
   color : red;
   font-weight : bold;
}

#content {
    background : transparent!important;
    border : 0!important;
    overflow: hidden;
}

.info {
   font-size : 12px;
   background: #FFFFAA;
   border: 1px solid #FFAD33;
   border-radius : 3px;
   width: 90%;
   margin-left: 25px;
   padding: 10px;
   line-height: 20px;
}



#container {
    padding: 19px;
    margin-bottom: 20px;
    width : 700px;
    background-color: #f7f7f7;
    border: 1px solid #e3e3e3;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.05);
    -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.05);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.05);
    position: relative;
    left : 50%;
    margin-left: -370px;
}
#container:before{
    content: "";
    position: absolute;
    bottom: 15px;
    left: 130px;
    border-radius: 75%;
    width: 80%;
    height: 20%;
    max-width: 500px;
    z-index: -2;
    -webkit-box-shadow: 0 15px 20px rgba(220,220,220,0.4);
    -moz-box-shadow: 0 15px 20px rgba(0,0,0,0.7);
    box-shadow: 0 15px 20px rgba(0,0,0,0.7);
    /*-webkit-transform: rotate(-2deg);
    -moz-transform: rotate(-2deg);
    -ms-transform: rotate(-2deg);
    -o-transform: rotate(-2deg);
    transform: rotate(-2deg);*/
}
#container:after{
    content: "";
    position: absolute;
    bottom: 18px;
    right: 10px;
    //border-radius: 75%;
    width: 80%;
    height: 20%;
    max-width: 500px;
    z-index: -2;
    -webkit-box-shadow: 0 15px 10px rgba(0,0,0,0.7);
    -moz-box-shadow: 0 15px 10px rgba(0,0,0,0.7);
    box-shadow: 0 15px 10px rgba(0,0,0,0.7);
    /*-webkit-transform: rotate(2deg);
    -moz-transform: rotate(2deg);
    -ms-transform: rotate(2deg);
    -o-transform: rotate(2deg);
    transform: rotate(2deg);*/
}

h3 {
    text-align: center;
    font-size: 20px;
    font-weight: normal!important;
    font-family: Tahoma,sans-serif;
}

.qq {
    margin-left: -10px!important;
}

h1 {
    font-weight: bold;
    font-size: 30px;
    text-align: center;
}

.well {
    position: relative;
    left : 50%;
    margin-left: -227.5px;
}

.control-group{
overflow: hidden;
padding: 5px;
margin-left : 80px;
}

.control-label{
float: left;
text-align: right;
width : 150px;
margin-bottom: 10px;
padding-top: 5px;
font-size: 12px;
line-height: 30px;
font-family:Tahoma,sans-serif;
}

.seminar-title {
    font-size: 12px;
    font-weight: normal;
}

.sep {
    border-bottom : 2px solid rgba(78,78,78,0.1);
    width : 80%;
    margin-left: 75px;
}

.controls-seminar{
float: left;
margin: 5px 0 0 20px;
}

.controls {
font-family: Tahoma,sans-serif;
float: left;
}


.help-block{
    margin:5px 0 0 20px;
    font-size: 12px;
    color : red;
}

.controls input[type="radio"]{
margin-right: 5px;
}

.radio{
margin: 0 0 5px 15px;
display: block;
font-size: 13px;
}

.form-horizontal button{
width: 200px;
height: 30px;
margin-left : 176px;
background : #ed1c24;
border-radius: 5px;
color: white;
cursor : pointer;
font-family: Arial,Tahoma,sans-serif;
border: none;

}


.form-horizontal button:hover{
    background : #EF3A3E;
}


.control-group input[type="text"],.control-group input[type="password"],.control-group input[type="email"] {
float: left;
border-radius:3px;
min-width: 250px;
border: 1px solid #dddddd;
outline:none;
font-family:Tahoma, sans-serif;
padding: 10px;
margin-left: 20px;
margin-bottom: 10px;
    transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
/*inner shadow
box-shadow: inset 0 0 5px #dddddd;
    -webkit-box-shadow: inset 0 0 5px #dddddd;
    -moz-box-shadow: inset 0 0 5px #dddddd;*/
}

.form-horizontal input:focus {
    /*border:1px solid #4d90fe;*/
    background : #dedede;
    box-shadow: inset 0 1px 1px #cccccc;
    -moz-box-shadow: inset 0 1px 1px #cccccc;
    -webkit-box-shadow: inset 0 1px 1px #cccccc;
}

.form-horizontal textarea{
font-family:Tahoma,sans-serif;
font-size: 12px;
width: 531px;
height : 102px;
border-radius: 3px;
padding: 10px;
border : 1px solid #dddddd;
outline:none;
    transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
/*inner shadow*/

}
.form-horizontal textarea:focus {
    background : #fafafa;
    box-shadow: inset 0 1px 1px #cccccc;
    -moz-box-shadow: inset 0 1px 1px #cccccc;
    -webkit-box-shadow: inset 0 1px 1px #cccccc;

}

.error {
    color : red;
    font-size: 12px;
}

.alert-error {
    color: #b94a48;
    background-color: #f2dede;
    border-color: #eed3d7;
    max-width: 400px;
    padding: 10px;
    border-radius: 0px 5px 5px 0px;
    text-align: center;
    font-size : 12px;
    position: absolute;
    margin-left: 465px;
}

.good {
    border : 1px solid #5AD800!important;
}

.good-info {
    color : #5AD800;
}

.btn {
    text-align: center;
    line-height : 0px;
    padding : 20px;
    font-weight: bold;
}

.notif {
    line-height: 40px;
    font-size: 12px;
    padding: 6px;
    border-radius: 5px;
    background: #E74C3C;
    color : white;
}

.notif:before{
    border-style: solid;
    border-width: 10px 10px 10px 10px;
    border-color: transparent transparent transparent #2C3E50;
    height: 0;
    position: absolute;
    left: 300px;
    top: 16px;
    width: 0;
}



.motivation{

}

ul .lo {
    text-align: left;
    margin-left: 0px;
}

.la {
    font-size : 12px;
    text-align: left;
    margin-left: 135px;
}


.hidden {
    display: none;
}

.display {
    display: inline-block!important;
}

.m {
    margin-left: 145px;

}