.seminar-instance{
	margin: 10px;
	padding: 20px;
	width: 920px;
	border-radius: 5px;
	border: 1px solid #dddddd;
	background: #FFF;
	overflow: auto;
}

.seminar-left-instance{
	margin: 0;
	width: 75%;
	border-right: 1px solid #dddddd;
	overflow: auto;
	float: left;
	display: inline;
}

.seminar-title-instance{
	font-family: Tahoma,Arial,sans-serif;
	font-size: 18px;
	padding : 10px 10px 0px 15px; 
	color: #666666;
}

.seminar-img-instance{
	margin: 15px;
	border-radius: 5px;
	overflow: hidden;
	height: 150px; 
	width: 220px;
	float: left;
}

.seminar-paragraph-instance{
	font-size: 14px;
	text-align: justify;
	word-wrap:break-word;
	line-height: 20px;
	margin: 15px 15px 15px 0;
	color:#404040;
	display: right;
}

#seminar-details{
	text-align: center;
	font-family: Tahoma,Arial,sans-serif;
	font-size: 18px;
	margin : 10px 0px 15px 0px; 
	color: #666666;
}

.seminar-right-instance{
	margin: 0;
	width: 24%;
	float: left;
	display: inline;
}

.seminar-date,.seminar-time,.seminar-place{
	font-size: 12px;
	margin: 10px 0 0 30px;
}

#seminar-tulisan-capacity{
	text-align: center;
	font-family: Tahoma,Arial,sans-serif;
	font-size: 14px;
	margin : 20px 10px 10px 0px; 
}

.seminar-capacity-border{
	margin: auto;
	height: 10px;
	width: 170px;
	border: 1px solid #dddddd;
	border-radius: 5px;
	overflow: hidden;
}

.seminar-capacity-bar{
	padding:0;
	margin: 0;
	width: 56%;
	height: 100%;
	background: #ff1155;
}

.seminar-register-button{
	margin: 10px auto;
	height: 30px;
	width: 120px;
	border: 1px solid white;
	border-radius: 5px;
	background-color: #ed1c24;
	color: #FFF;
	cursor: pointer;

	-moz-transition: all 0.4s ease-in-out;
	-webkit-transition: all 0.4s ease-in-out; 
	-o-transition: all 0.4s ease-in-out;
}

.seminar-register-button:hover{
	background-color: #ff1155;
}

#seminar-tulisan-register{
	font-size: 14px;
	text-align: center;
	margin: 7px;
	color: white;
}
