@import url('reset.css');
@font-face {
	font-family: 'Roboto';
	src : url("../font/Roboto-Light.ttf");
}

@font-face {
	font-family: 'OpenSans';
	src : url("../font/OpenSans-Regular.ttf");
}

html, body{
	height: 100%;
}

body{
	background-image:url('../img/bg.png');
	background-repeat: repeat;
	width : 100%;
	padding : 0px;
	margin  : 0px;
	/*font-family: 'robotoLight', TW Cen MT, Arial;*/
	font-family: Tahoma,Arial,sans-serif;
}

#logo{
	position: absolute;
	z-index: 1000000;
	left: 50%!important;
	margin-left: -72.5px;
}

#wrap{
	width:1180px;
	margin: auto;
}

#login{
	padding-top: 2px;
	background-image: url('../img/login-bg.png');
	background-repeat: no-repeat;
	width:474px;
	height: 53px;
	z-index: 99;
	margin-top:-30px;
	float : right;
}

#user-info{
	right: 93px;
	width: 474px;
	height: 53px;
	position: absolute;
}

.field{
	width: 110px;
	border: 1px solid #ed1c24;
	border-radius: 5px;
}

#button-go{
	width:60px;
	height: 20px;
	background-color: #e2e2e2;
	font-family: Tahoma;
	border-radius: 5px;
	font-size: 0.7em;
}

	#button-go:hover{
		border-color: #c6c6c6;
	}

	#button-go:active{
		background-color: #c6c6c6;
		border-color: #c6c6c6;
	}

#forgot{
	float: right;
	color: white;
	text-decoration: none;
	font-size: 0.7em;
	margin-top: 7px;
	margin-right: 30px;
}
	
	#forgot a{
		color: white;
	}

	#forgot a:hover{
		text-decoration: underline;
	}

#button-login{
	color: white;
	float: right;
	margin-right: 50px;
	margin-top: 5px;
	font-size: 0.8em;
	cursor: pointer;
	text-align: center;
	padding-top: 3px;
	height: 20px;
	width: 75px;
}

#logout{
	padding: 3px 3px 0px 3px;
	background : #ED1C24;
	background-repeat: no-repeat;
	width:auto;
	height: 20px;
	position: absolute;
	z-index: 99;
	font-size: 0.7em;
	border-radius: 0px 0px 50px 50px;
}

#logout:before {
	display: block;
	float : left;
	background-image : url('../img/tab-bg-left.png') no-repeat;
	width: 33px;
	height : 26px;
	z-index : 99;
	border-radius: 0px 0px 5px 5px;
	content: " ";
}

#logout:after {
	display: block;
	float : right;
	background-image : url('../img/tab-bg-right.png') no-repeat;
	width: 33px;
	height : 26px;
	content: " ";
}

	#logout p,#logout a{
		float: left;
		color: white;
	}


nav{
	position: relative;
	z-index: 10;
	clear: both;
}

	#first > li {
		height: 93px;
		width: 14.285714286%;
		float: left;
		text-decoration: none;
	}

		#first > li > a > div{
			height: 93px;
		}

			#first > li > a > div > p{
				color: #000;
				font-size: 1.0em;
				text-align: center;
				padding-top: 60px;
				padding-bottom: 10px;
			}

.second{
	position: absolute;
	display: none;
	opacity: 0;
	width: inherit;
}

	.second > li > a > div{
		height: 40px;
		padding-top: 15px; 
		background-color: white;
		opacity: 0.75;

		-moz-transition: 0.5s;
		-webkit-transition: 0.5s;
		-o-transition: 0.5s;
	}

	.second > li > a > div:hover{
		opacity: 1;
	}

		.second > li > a > div > p{
			font-size: 0.8em;
			text-align: center;
			color: #000;
		}

<<<<<<< HEAD
=======
			.second > li > p{
				font-size: 0.8em;
			}

#logo{
	position: absolute;
	z-index: 7000;
	left: 50%!important;
	margin-left: -72.5px;
}

#spacer{
	width: 1180;
	height: 75;
	margin: 0 auto;
}
>>>>>>> 17935a38357e5bce9fe4f65a9df9729bac345e01
#footer{
	background-color: white;
	height: 200px!important;
	width: 1180px!important;
	overflow: hidden;
}

#sponsors{
	margin:10px;
	float: left;
}

#medparts{
	margin:10px;
	float: right;
}

/* - - - - - - - */

#content{
	position: relative;
	clear: both;
	height: auto;
}

.content-title{
	font-size:1.9em;
	padding-bottom:15px;
}

#container{
	margin-left: 75px;
	padding: 30px;
}

