@import url('reset.css');
@font-face {
	font-family: 'Roboto';
	src : url("../font/Roboto-Light.ttf");
}

@font-face {
	font-family: 'OpenSans';
	src : url("../font/OpenSans-Regular.ttf");
}

html, body{
	height: 100%;
}

body{
	background:url('../img/bg.png'),#f9f9f9;
	background-repeat: repeat;
	width : 100%;
	padding : 0px;
	margin  : 0px;
	/*font-family: 'robotoLight', TW Cen MT, Arial;*/
	font-family: Open Sans,Tahoma,Arial,sans-serif;
}

#logo{
	position: absolute;
	z-index: 1000000;
	left: 50%!important;
	margin-left: -85px;
}

#wrap{
	width:1180px;
	margin: auto;
	position:relative;
}

#login{
	padding-top: 2px;
	background-image: url('../img/login-bg.png');
	background-repeat: no-repeat;
	width:474px;
	height: 53px;
	position : absolute;
	z-index: 99;
	top:-30px;
	right:0;
}

#user-info{
	right: 93px;
	width: 474px;
	height: 53px;
	position: absolute;
}

.field{
	width: 110px;
	border: 1px solid #ed1c24;
	border-radius: 3px;
}

.field:active, .field:focus {
       background : #dddddd;
       outline :0;
}

#button-go{
	width:60px;
	height: 20px;
	background-color: #A00000;
	border : 0;
	font-family: Tahoma;
	border-radius: 5px;
	font-size: 0.7em;
	color : white;
	cursor : pointer;
}

	#button-go:hover{
		border-color: #c6c6c6;
		opacity : 0.8;
	}

	#button-go:active{
		background-color: #c6c6c6;
		border-color: #c6c6c6;
	}

#forgot{
	float: right;
	color: white;
	text-decoration: none;
	font-size: 0.7em;
	margin-top: 7px;
	margin-right: 30px;
}
	
	#forgot a{
		color: white;
	}

	#forgot a:hover{
		text-decoration: underline;
	}

#button-login{
	color: white;
	float: right;
	margin-right: 50px;
	margin-top: 5px;
	font-size: 0.8em;
	cursor: pointer;
	text-align: center;
	padding-top: 3px;
	height: 20px;
	width: 75px;
}

#logout{
	padding: 7px 20px 0 20px;
	background-repeat: no-repeat;
	font-family : Tahoma, Arial, sans-serif;
	width:auto;
	height: 24px;
	position: absolute;
	z-index: 99;
	font-size: 0.7em;
	right:0;
}


	#logout p,#logout a{
		float: left;
		color: black;
	}


nav{
	position: relative;
	clear:both;
	z-index: 10;
}

/*Styling warna menu*/
.menu, .menu > a > div > p{
	-moz-transition: 0.5s;
	-webkit-transition: 0.5s;
	-o-transition: 0.5s;
}

#menu-home{
	border-bottom: 5px solid #000000;
}

	#menu-home > a > div > p:hover{
		color: #555555;
	}

#menu-about{
	border-bottom: 5px solid #f7931e;
}

	#menu-about > a > div > p:hover{
		color: #f7931e;
	}

#menu-news{
	border-bottom: 5px solid #e8d700;
}

	#menu-news > a > div > p:hover{
		color: #e8d700;
	}

#bufferMenu { 
	width: 160px !important; 
	position: relative;
	top:5px;	
}

#menu-competition{
	border-bottom: 5px solid #3d99d0;
}

	#menu-competition > a > div > p:hover{
		color: #3d99d0;
	}

#menu-event{
	border-bottom: 5px solid #e40613;
}

	#menu-event > a > div > p:hover{
		color: #e40613;
	}

#menu-contact{
	border-bottom: 5px solid #8cc63f;
}

	#menu-contact > a > div > p:hover{
		color: #8cc63f;
	}

	.menu:hover > a > div > p{
		color: white;
	}

	#first > li {
		height: 93px;
		width: 170px;
		float: left;
		text-decoration: none;
	}

		#first > li > a > div{
			height: 93px;
		}

			#first > li > a > div > p{
				color : #000;
				font-size: 1.0em;
				text-align: center;
				padding-top: 60px;
				padding-bottom: 10px;
			}
			#first > li > a > div > p:hover{ }

.second{
	position: absolute;
	display: none;
	opacity: 0;
	width: inherit;
}

	.second > li > a > div{
		height: 32px;
		padding-top: 20px;
		background-color: white;
		opacity: 0.75;

		-moz-transition: 0.5s;
		-webkit-transition: 0.5s;
		-o-transition: 0.5s;
	}

	.second > li > a > div:hover{
		opacity: 1;
	}

		.second > li > a > div > p{
			font-size: 0.8em;
			text-align: center;
			color: #000;
		}

#footer{
	margin-top: 50px;
	background-color: white;
	width: 1180px!important;
	border-radius : 10px;
	border : 1px solid #ededed;
	padding-bottom:15px;
}

#sponsors{
	margin:10px;
	float: left;
}

#medparts{
	margin:10px;
	float: right;
}

/* - - - - - - - */

#content{
	position: relative;
	clear: both;
	height: auto;
	background: #FFFFFF;
	overflow:auto;
	border : 1px solid #ededed;
	border-top : none;
	border-radius : 0px 0px 10px 10px;
}

.content-title{
	font-size:1.9em;
	padding-bottom:15px;
}

#container{
	margin-left: 75px;
	padding: 30px;
}