@import url('reset.css');
@font-face {
	font-family: 'Roboto';
	src : url("../font/Roboto-Light.ttf");
}

body{
	background-color: #f6f6f6;
	width : 100%;
	padding : 0px;
	margin  : 0px;
	font-family: 'robotoLight', TW Cen MT, Arial;
}

#wrap{
	width:1180px;
	margin: auto;
	padding: 5px;
	margin-bottom: 30px;
	background-image:url('../img/bg.png');
	background-repeat: repeat;
}

nav{
	position: relative;
	z-index: 99;
}

#first > a > li{
	width: 14.285714286%;
	height: 93px;
	float: left;
	font-size: 1.0em;
	text-align: center;
	text-decoration: none;
	color: #000;
}

	#first > a > li > p{
		margin-top: 60px;
	}

	.second{
		margin-top: 20px;
		display: none;
		opacity: 0;
	}

		.second > li{
			height: 40px;
			padding-top: 15px; 
			background-color: #ffffff;
			opacity: 0.6;
		}

			.second > li > p{
				font-size: 0.8em;
			}

#footer{
	background-color: white;
	height: 200px;
}

#sponsors{
	float: left;
}

#medparts{
	float: right;
}